body {
	text-align: center;
	padding-top: 70px;
	font-family: avenir, sans-serif;
}

button {
	background: #367;
	height: 150px;
	width: 150px;
	padding: 40px;
	border-radius: 75px;
	color: #fff;
	border: none;
	font-size: 1.5em;
	margin: 5px;
	cursor: pointer;
	outline: none;
}